<div class="col-md-6">
	<div class="left">

		<div class="header text-center">
			<a href="./#dashboard">
				<span class="header-button hb-left">
					<i class="fa fa-chevron-left"></i>
				</span>
			</a>

			<span class="header-button search-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>

		<div class="profile-image text-center">
			<div class="upload-form uploading-area">
				<div class="img-area"></div>

				<div class="add-writing spinner">
					<i class="fa fa-check-circle"></i>
				</div>

				<div class="name">
					<p class="title">
						<a class="hidden img-lightbox" href="http://i.imgur.com/NxVpOW4.jpg" data-lightbox="image-1" data-title="My caption"><img src="http://i.imgur.com/NxVpOW4.jpg" width="25%"></a>
						Artwork Uploaded!
					</p>
				</div>
			</div>

			<div class="uploading-area" style="display:none;">
				<div class="img-area">

				</div>

				<div class=" spinner">
					<i class="fa fa-spinner fa-spin"></i>
				</div>

				<div class="name">
					<p class="title">
						Uploading Writing Sample to iACCESS <br /> Please wait.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">
		<div class="to-do-replace">

			<div class="upload-message text-center">
				<p class="title">
					Would you like to upload the writing sample now?
				</p>
			</div>


		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="go_to_grade_now();" class="btn btn-secondary">
						Upload Later
					</button>

					<button class="btn btn-yellow upload-writing">
						Upload Now
					</button>
					<div class="hidden">
						<input id="writing-upload-form" type="file" />
					</div>
				</div>

			</div>
		</div>

		<div class="dashboard-btns" style="display:none;">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="go_to_grade_now();" class="btn btn-secondary">
						Cancel
					</button>

					<button class="btn btn-yellow upload-writing">
						Finish
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('span.search-button').click(function(){
		$('a.img-lightbox').click();
	});

	$('.upload-writing').click(function(){
		$('input[type=file]').click();
	});

	$('input[type=file]').change( function(){
	    var file_name = $(this).val();
	    var arr = file_name.split("\\");

	    $('.profile-image div.name p.title').text(arr[arr.length - 1]);
	});

	var inputElement = document.getElementById("writing-upload-form");
		inputElement.addEventListener("change", handleFiles, false);

	function handleFiles() {
	  var fileList = this.files;
	  upload_image(fileList[0]);
	}

	function upload_image(file) {
		$('.uploading-area').show();
		$('.upload-form').hide();

		var xhttp    = new XMLHttpRequest(),
	        fd       = new FormData();

	    fd.append('image', file);

	    xhttp.open('POST', 'https://api.imgur.com/3/image');
	    xhttp.setRequestHeader('Authorization', 'Client-ID f86db3d75c1ac53');
	    xhttp.onreadystatechange = function () {
	        if (xhttp.status === 200 && xhttp.readyState === 4) {
	            var res = JSON.parse(xhttp.responseText), link;
	            link = res.data.link;
	            console.log(link);

	            window.localStorage.setItem('temp_writing', link);

	            window.location = "./#/writing-uploaded/12131";
	        }
	    };

	    xhttp.send(fd);
	}

</script>
