<div class="col-md-6">
	<div class="left">
		<div class="profile-image text-center">
			<div class=" spinner">
				<i class="fa fa-check-circle"></i>
			</div>

			<div class="name">
				<p class="title">
					Grade Project Uploaded!
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">
		<div class="to-do-replace">

			<div class="upload-message text-center">
				<p class="title">
					Would you like to grade the project now?
				</p>
			</div>


		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="go_back_to_projects();"  class="btn btn-secondary">
						Saved Projects
					</button>

					<button ng-click="dashboard_redirect();" class="btn btn-yellow">
						Home
					</button>
				</div>

			</div>
		</div>
	</div>
</div>
