<div class="col-md-6">
	<div class="left">
		
		<div class="header text-center">
			<span class="header-button hb-left">
				<i class="fa fa-chevron-left"></i>
			</span>
			<h1>MOBART</h1>
			<span class="header-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>

		<div class="profile-image text-center">
			<div class=" spinner">
				<i class="fa fa-check-circle"></i>
			</div>

			<div class="name">
				<p class="title">
					Artwork Uploaded!
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">
		<div class="to-do-replace">

			<div class="upload-message text-center">
				<p class="title">
					Would you like to grade the project now?
				</p>							
			</div>


		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="dashboard_redirect();" class="btn btn-secondary">
						Grade Later
					</button>

					<button ng-click="grade_now();" class="btn btn-yellow" data-toggle="modal" data-target="#upload-writing-modal">
						Grade Now
					</button>
				</div>

			</div>
		</div>
	</div>
</div>