<div class="col-md-6">
	<div class="left">

		<!--<div class="header text-center">
			<span class="header-button hb-left">
				<i class="fa fa-chevron-left"></i>
			</span>
			<h1>{{title}}</h1>
			<span class="header-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>-->

		<div class="profile-image text-center">
			<div class="name">
				<div class="img-area" ng-if="writing_url">
					<a class="img-lightbox" href="{{writing_url}}" data-lightbox="image-1" data-title="My caption">
                        <img class="img-class" ng-show="checkMimetype(writing_mimetype) == 'no-file'" src="/mobart/data/no_file.png" style="max-width: 65%;" />
                        <img class="img-class" ng-show="checkMimetype(writing_mimetype) == 'video'" src="/mobart/data/ic_video.png" style="max-width: 65%;" />
                        <img class="img-class" ng-show="checkMimetype(writing_mimetype) == 'image'" src="{{ writing_url }}" style="max-width: 65%;" />
                    </a>
				</div>
				
				<p class="title" style="margin:0px; padding:0px;">
					{{writing_text}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">
		<div class="to-do-replace">

			<div class="upload-message text-center">
				<p class="title">
					Would you like to grade the project now?
				</p>
			</div>


		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">

					<button ng-click="grade_later();" class="btn btn-secondary">
						Grade Later
					</button>

					<button ng-click="grade_now();"  class="btn btn-yellow">
						Grade Now
					</button>
				</div>

			</div>
		</div>
	</div>
</div>
