<div class="col-md-6 col-sm-6">
	<div class="left">
		
		<!--<div class="header text-center">
			<span class="header-button hb-left">
				<i class="fa fa-chevron-left"></i>
			</span>
			<h1>{{title}}</h1>
			<span class="header-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>-->

		<div class="profile-image text-center">
			<div class="name">
				<div class="img-area">
					<a class="img-lightbox" href="http://i.imgur.com/NxVpOW4.jpg" data-lightbox="image-1"><img src="http://i.imgur.com/NxVpOW4.jpg" class="img-class" width="45%"></a>
				</div>

				<p class="title">
					Writing Uploaded!
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6">
	<div class="right">
		<div class="to-do-replace">

			<div class="upload-message text-center">
				<p class="title">
					Would you like to grade the project now?
				</p>							
			</div>


		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="grade_now();"  class="btn btn-secondary">
						Grade Now
					</button>

					<button ng-click="dashboard_redirect();" class="btn btn-yellow">
						Grade Later
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var img = window.localStorage.getItem('temp_writing');
		$('a.img-lightbox').attr('href', img);
		$('img.img-class').attr('src', img);
	});
	
</script>