<div class="col-md-6">
	<div class="left">

		<div class="header text-center">
			<span ng-click="dashboard_redirect();" class="header-button hb-left">
				<i class="fa fa-chevron-left"></i>
			</span>

			<h1>{{ project }}</h1>

			<span ng-hide="checkMimetype(artwork_mimetype) == 'no-file'" class="header-button  search-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>

		<div class="artwork-preview text-center">
            <img class="img-class" ng-show="checkMimetype(artwork_mimetype) == 'no-file'" src="/mobart/data/no_file.png" style="max-width: 65%;" />
            <img class="img-class" ng-show="checkMimetype(artwork_mimetype) == 'video'" src="/mobart/data/ic_video.png" style="max-width: 65%;" />
            <img class="img-class" ng-show="checkMimetype(artwork_mimetype) == 'image'" src="/mobart/data/ic_audio.png" style="max-width: 65%;" />

			<div class="hidden">
				<div id="large-image" style="text-align: center;">
                    <video ng-show="checkMimetype(artwork_mimetype) == 'video'" width="640" controls>
                        <source src="{{artwork_url}}" type="video/mp4">
					</video>
					<img ng-show="checkMimetype(artwork_mimetype) == 'image'" src="{{artwork_url}}" />
					<audio ng-show="checkMimetype(artwork_mimetype) == 'audio'" controls>
						<source src="{{artwork_url}}" type="audio/mpeg">
					</audio>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">

		<div class="to-do-replace text-center">

			<div class="upload-message text-center">
				<p class="title">
					{{ assessment }}
				</p>
			</div>

			<ul class="list-inline grade-project-list text-center">

				<li ng-repeat="v in exmps" class="{{v.class_value}}">
					<div class="thumbnail" data-exmplar="{{v.exmplars}}" ng-click="exemplar_click(v.id);">
						<div style="position:relative">
							<img src="{{v.thumbnail}}" />

							<div class="overlay">
								<a href="javascript:void(0);">
									<span style="font-size: 18px; color: #ffffff; background-color: #088eca;">
										<i style="color:white;" class="fa fa-search search-icon" data-colorid="colorbox-{{v.id}}"></i>
									</span>
								</a>
							</div>
						</div>

						<div class="grade-info">
							<span style="pull-left">
								{{v.id}}
							</span>

							<span class="pull-right">
								<i class="fa fa-check-circle"></i>
							</span>
						</div>
					</div>

					<div class="hidden">
						<div id="colorbox-{{v.id}}" style="text-align: center;">
							<video ng-show="{{v.isVideo}}" width="640" controls>
								  <source src="{{v.source}}" type="video/mp4">
							</video>

							<img ng-show="{{v.isImage}}" src="{{v.source}}">

							<audio ng-show="{{v.isAudio}}" controls>
								<source src="{{v.source}}" type="audio/mpeg">
							</audio>

						</div>
					</div>
				</li>

			</ul>


			<div class="exmplar-text">
				<label>

				</label>
			</div>
		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="go_back();" class="btn btn-secondary">
						{{back_btn_text}}
					</button>

					<button ng-click="grade_project();" class="btn btn-yellow">
						Next
					</button>
				</div>

			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
	setTimeout(function(){
		$('.thumbnail').click(function(){
			$('ul.grade-project-list li').removeClass('active');
			$(this).parent().addClass('active');
			var exmplar = $(this).data('exmplar');
			$('div.exmplar-text label').text(exmplar);
		});

		$('img.img-class').click(function(){
			$.colorbox({
			   inline:true,
			   href: "#large-image",
			});
		});

		$('.search-button').click(function(){
			$.colorbox({
			   inline:true,
			   href: "#large-image",
			});
		});

		$('.search-icon').click(function(){
			var _id = $(this).data('colorid');

			$.colorbox({
			   inline:true,
			   href: "#" + _id,
			});
		});
	}, 2000);

	$('span.search-button').click(function(){
		$('a.img-lightbox').click();
	});

</script>
