<div class="col-md-6 col-sm-6">
	<div class="left">
		
		<div class="header text-center">
			<span ng-click="dashboard_redirect();" class="header-button hb-left">
				<i class="fa fa-chevron-left"></i>
			</span>

			<h1>Project-1</h1>

			<span class="header-button  search-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>

		<div class="profile-image text-center">
			<a class="img-lightbox" href="http://i.imgur.com/NxVpOW4.jpg" data-lightbox="image-1"><img src="http://i.imgur.com/NxVpOW4.jpg" class="img-class" width="45%"></a>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6">
	<div class="right">

		<div class="to-do-replace text-center">

			<div class="upload-message text-center">
				<p class="title">
					Assessment #1
				</p>							
			</div>

			<ul class="list-inline grade-project-list text-center">

				<li ng-repeat="v in visual_exmps">
					<div class="thumbnail" data-exmplar="{{v.exmplars}}">
						<div style="position:relative">
							<img src="{{v.thumbnail}}" />

							<div class="overlay">
								<a href="{{v.source_image}}" data-lightbox="image-{{v.id}}">
									<span style="font-size: 18px; color: #ffffff; background-color: #088eca;">
										<i style="color:white;" class="fa fa-search"></i>
									</span>
								</a>
							</div>
						</div>

						<div class="grade-info">
							<span style="pull-left">
								{{v.id}}
							</span>

							<span class="pull-right">
								<i class="fa fa-check-circle"></i>
							</span>
						</div>
					</div>
				</li>

			</ul>


			<div class="exmplar-text">
				<label>
					
				</label>
			</div>
		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="go_back_to_projects();" class="btn btn-secondary">
						Cancel
					</button>

					<button ng-click="grade_project();" class="btn btn-yellow">
						Next
					</button>
				</div>

			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		var img = window.localStorage.getItem('temp_image');
		$('a.img-lightbox').attr('href', img);
		$('img.img-class').attr('src', img);
	});

	setTimeout(function(){
		$('.thumbnail').click(function(){
			$('ul.grade-project-list li').removeClass('active');
			$(this).parent().addClass('active');
			var exmplar = $(this).data('exmplar');

			$('div.exmplar-text label').text(exmplar);

		});
	}, 0);

	$('span.search-button').click(function(){
		$('a.img-lightbox').click();
	});

</script>