<div class="col-md-6">
	<div class="left">

		<!--<div class="header text-center">
			<span class="header-button hb-left">
				<i class="fa fa-chevron-left"></i>
			</span>
			<h1>{{title}}</h1>
			<span class="header-button hb-right">
				<i class="fa fa-search"></i>
			</span>
			<br style="clear:both;" />
		</div>-->

		<div class="profile-image text-center">
            <div class=" spinner">
				<i class="fa fa-arrow-circle-right"></i>
			</div>

			<div class="name">
				<p class="title">
					Grade Next Student?
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">
		<div class="to-do-replace">

			<div class="upload-message text-center">
				<p class="title">
					Would you like to grade the next student in this class?
				</p>
			</div>


		</div>

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="back_to_home();" class="btn btn-secondary">
						No
					</button>

                    <button ng-click="grade_next_student();" class="btn btn-yellow">
						Yes
					</button>
				</div>

			</div>
		</div>
	</div>
</div>
