<div class="col-md-6">
	<div class="left">

		<div class="header text-center">
			<h1>{{title}}</h1>
		</div>

		<div class="profile-image text-center">
			<div class="image default-image">
				<i class="fa fa-user"></i>
			</div>

			<div class="name">
				<p class="title">
					{{full_name}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="right">

		<div class="dashboard-btns">
			<div class="text-center">

				<div class="form-group">
					<button ng-click="saved_projects();" class="btn btn-secondary">
						Saved Projects
					</button>

					<button ng-click="new_project();" class="btn btn-yellow">
						New Project
					</button>
				</div>

			</div>
		</div>

	</div>
</div>
