<div class="login-view">

	<div class="container">

		<div class="row">

			<div class="col-md-6">

			</div>

			<form class="login-form">
				<div class="header">
					<h2>MOBART</h2>
				</div>

				<div class="input-area">
					<p class="pull-right">
						<a href="javascript: void(0);" class="sign-up-link">
							forgot?
						</a>
					</p>

					<br style="clear:right;" />

					<form name="forms.login_form" method="POST">
						
						<div style="margin-bottom:10px;" ng-show="show_error_message" class="text-center">
							{{error_message}}
						</div>

						<div class="form-group">
							<input class="form-control" autocomplete="off" type="text" name="username" placeholder="Username" />
						</div>

						<div class="form-group">
							<input class="form-control" type="password" name="password" placeholder="Password" />
						</div>

						<div class="form-group">
							<button ng-click="login();" class="btn btn-yellow">
								Sign In
							</button>
						</div>

						
					</form>
				</div>
			</form>

		</div>

	</div>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('body').addClass('not-logged-in');
	})
</script>