/**DASHBOARD VIEW**/

.dashboard-view {

	.container-fluid {

	}

	.col-md-6 {
		padding: 0px;
	}

	.dashboard-btns {
		position:relative;
	    margin: 24px auto;

	    @media(min-width: 640px){
	    	position:absolute;
	    	bottom:20;
	    	left:0px;
		    right:0;
		    margin-left:auto;
		    margin-right:auto;
	    }

	    button {
			text-transform: uppercase;
			padding: 15px 0px;
			width: 100%;
			margin-bottom: 18px;
			border-radius:0px;

		  	@media(min-width:640px){
		  		width: 42%;
		  		margin-left: 10px;
		  		margin-right: 10px;
		  	}
		}
	}

	.right {
		background: white;
		padding: 40px 20px;

		@media(min-width:640px){
			overflow-y: scroll;
			height:100%;
		}
	}

	.left {
		background:#51b6d2;
		height:100%;
	}

	.upload-message {

		p {
			&.title {
				font-weight: 300;
				color: #001b37;
				font-size: 24px;
			}
		}
	}
}
